@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-color: #0b0c10;
    --secondary-color: #1f2833;
    --accent-color: #faed26;

    --primary-text-color: white;
    --secondary-text-color: #8d99ae;

    --border-color: rgba(255, 255, 255, 0.4);

    --checked-color: rgba(255, 255, 255, 0.1);
    
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.1);
    --hover-scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
}